/*Estilização geral do cabeçalho*/
header{
    background-color: var(--color-primary-1);
    position: sticky;
    top: 0;
    width: 100%;
    padding: 28px 8%;
    z-index: 1;
}

/*Container principal da navegação*/
#nav-bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/*Lista de navegação*/
.nav_list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 0;
    width: 100%;
}

/*Estilização dos links de navegação*/
.nav_item a{
    text-decoration: none;
    color: var(--color-neutral-3);
    font-weight: 600;
}

/* Estilo para item de navegação ativo */
.nav_item.active a{
    color: var(--color-neutral-1);
    border-bottom: 3px solid var(--color-primary-2);
}

/*Barra de navegação mobile*/
#mobile-bar{
    display: none;
}

#mobile-button{
    display: none;
}

section{
    scroll-margin-top: 120px;
}

@media screen and (max-width: 1170px) {
    #nav-bar{
        display: none;
    }

    #mobile-bar{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .mobile_nav_list{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    gap: 0;
    }
}

@media screen and (max-width: 630px) {
    #nav-bar{
        display: none;
    }

    #mobile-bar{
        display: none;
    }

    #mobile-button{
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    #mobile-bar.active{
        display: block;
        flex-direction: column;
        align-items: center;
    }

    .mobile_nav_list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
}